.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
    

}

.list-items{
    /* align-self: center; */
     display: none;
    position: absolute;
    transition: 0.5s ease-in;
    min-width: 140px;
    height: 170px;
    background-color: white ; 
    color: black 70%;
    z-index: 99;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}
.dropdown:hover .list-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 8px;
    

    
}
/* .list-items p:hover{
    background-color: aquamarine;
   
} */
/* .cat::after{
  content: 'V';
  margin-left: 5px;
  font-size: 9px;
  align-self: center;
} */