
.banner_start button{
    margin-top: 15px;
    height: 30px;
    width: 75px;
    background-color: #5AE4A7 ;
    border: 1px solid   ;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
    color: white;
}
.banner_1{
    transition: 0.1s ease-in;
}
.banner_start button:hover{
   
    background-color: #1C2E35;
    color: white;
     
}


.banner_start h5{
    color:#1C2E35 ;
}
@media (max-width: 1200px) {

    .banner_1{
        width: 80%;
        height: 80%;
    }

   
}
